.orientation-radio-group
    input(type='radio'
          id='horizontally'
          name='selector'
          class='orientation-input'
          checked
    )
    label(for='horizontally'
          class='orientation-label orientation-label--left'
    )
      span.orientation-icon--horizontally
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="23" viewBox="0 0 33 23"><g transform="translate(-4060 -512)"><g transform="translate(4060 512)" fill="none" stroke="#fff" stroke-width="2"><rect width="33" height="23" stroke="none"/><rect x="1" y="1" width="31" height="21" fill="none"/></g><g transform="translate(4064 516)" fill="none" stroke="#fff" stroke-width="1"><rect width="25" height="15" stroke="none"/><rect x="0.5" y="0.5" width="24" height="14" fill="none"/></g></g></svg>
        .orientation-desc--horizontally Альбомная

    input(type='radio'
          id='upright'
          name='selector'
          class='orientation-input'
    )
    label(for='upright' class='orientation-label orientation-label--right')
      span.orientation-icon--upright
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="33" viewBox="0 0 23 33"><g transform="translate(-4130 -507)"><g transform="translate(4130 507)" fill="none" stroke="#f06f05" stroke-width="2"><rect width="23" height="33" stroke="none"/><rect x="1" y="1" width="21" height="31" fill="none"/></g><g transform="translate(4134 511)" fill="none" stroke="#f06f05" stroke-width="1"><rect width="15" height="25" stroke="none"/><rect x="0.5" y="0.5" width="14" height="24" fill="none"/></g></g></svg>
        .orientation-desc--upright Портретная