.size-radio-group
    input(type='radio'
          id='option-one'
          name='size-selector'
          class='size-input'
          checked
    )
    label(for='option-one' class='size-label') a5

    input(type='radio'
          id='option-two'
          name='size-selector'
          class='size-input'
    )
    label(for='option-two' class='size-label') a4

    input(type='radio'
          id='option-three'
          name='size-selector'
          class='size-input'
    )
    label(for='option-three' class='size-label') a3

    input(type='radio'
          id='option-four'
          name='size-selector'
          class='size-input'
    )
    label(for='option-four' class='size-label size-label--last') a2