extends template/main

block variables
  - var title = 'Главная страница'

block content
  .frame-radio-group
    input(type='radio'
          id='ramka_1'
          name='frame__input'
          class='frame__inputs'
          value='1'
          checked
    )
    label(for='ramka_1' class='frame__label')
      img(src='static/images/general/ramki/ramka_1.png' alt='ramka 1' class='frame__img')

    input(type='radio'
          id='ramka_2'
          name='frame__input'
          class='frame__inputs'
          value='2'
    )
    label(for='ramka_2' class='frame__label')
      img(src='static/images/general/ramki/ramka_2.png' alt='ramka 2' class='frame__img')
    
