.frame
  .frame__wrapper
    .frame__head
      +breadcrumbs('Назад', '/')
      .frame__title Рамки
    
    .frame-radio-group
      input(type='radio'
            id='ramka_1'
            name='frame__input'
            class='frame__inputs'
            value='1000'
      )
      label(for='ramka_1' class='frame__label')
        img(src='static/images/general/ramki/ramka_1.png' alt='ramka 1' class='frame__img')

      input(type='radio'
            id='ramka_2'
            name='frame__input'
            class='frame__inputs'
            value='1200'
      )
      label(for='ramka_2' class='frame__label')
        img(src='static/images/general/ramki/ramka_2.png' alt='ramka 2' class='frame__img')

      input(type='radio'
            id='ramka_3'
            name='frame__input'
            class='frame__inputs'
            value='1300'
      )
      label(for='ramka_3' class='frame__label')
        img(src='static/images/general/ramki/ramka_3.png' alt='ramka 3' class='frame__img')
      
      input(type='radio'
            id='ramka_4'
            name='frame__input'
            class='frame__inputs'
            value='1400'
      )
      label(for='ramka_4' class='frame__label')
        img(src='static/images/general/ramki/ramka_4.png' alt='ramka 4' class='frame__img')

      input(type='radio'
            id='ramka_5'
            name='frame__input'
            class='frame__inputs'
            value='1500'
      )
      label(for='ramka_5' class='frame__label')
        img(src='static/images/general/ramki/ramka_5.png' alt='ramka 5' class='frame__img')

      input(type='radio'
            id='ramka_6'
            name='frame__input'
            class='frame__inputs'
            value='1600'
      )
      label(for='ramka_6' class='frame__label')
        img(src='static/images/general/ramki/ramka_6.png' alt='ramka 6' class='frame__img')

      input(type='radio'
            id='ramka_7'
            name='frame__input'
            class='frame__inputs'
            value='1700'
      )
      label(for='ramka_7' class='frame__label')
        img(src='static/images/general/ramki/ramka_7.png' alt='ramka 7' class='frame__img')

      input(type='radio'
            id='ramka_8'
            name='frame__input'
            class='frame__inputs'
            value='1800'
      )
      label(for='ramka_8' class='frame__label')
        img(src='static/images/general/ramki/ramka_8.png' alt='ramka 8' class='frame__img')

      input(type='radio'
            id='ramka_9'
            name='frame__input'
            class='frame__inputs'
            value='1900'
      )
      label(for='ramka_9' class='frame__label')
        img(src='static/images/general/ramki/ramka_9.png' alt='ramka 9' class='frame__img')